<div class="container">
  
  <div data-controller="welcome">
    <h1 data-welcome-target="output"></h1>
  </div>


  <!-- <form  data-controller="" class="form-inline">
    <div class="form-group mb-2 col-5 pl-0">
      <label for="staticSiteLink" class="sr-only">Site Link</label>
      <input type="text" class="form-control-plaintext  border border-white rounded ml-1 text-white p-1" id="staticSiteLink" placeholder="https://">
    </div>
    <button type="submit" class="btn btn-primary mb-2">Shorten</button>
  </form> -->
  <%= render "layouts/partials/create_site_link", id: "site_link" %>
  <table class="table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Original URL</th>
        <th scope="col">Shortened</th>
        <th scope="col">Site Visits</th>
      </tr>
    </thead>
    <tbody>
      <tr data-toggle="collapse" data-target="#accordion6" class="clickable  collapse-row collapsed">
        <th scope="row">1</th>
        <td>Some Stuff</td>
        <td>Some more stuff</td>
        <td>And some more</td>
      </tr>
      <tr>
        <td colspan="4">
          <div id="accordion6" class="collapse">Hidden by default</div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#accordion3" class="clickable  collapse-row collapsed">
        <th scope="row">1</th>
        <td>Some Stuff</td>
        <td>Some more stuff</td>
        <td>And some more</td>
      </tr>
      <tr>
        <td colspan="4">
          <div id="accordion3" class="collapse ">Hidden by default</div>
        </td>
      </tr>
      <tr data-toggle="collapse" data-target="#accordion2" class="clickable  collapse-row collapsed">
        <th scope="row">1</th>
        <td>Some Stuff</td>
        <td>Some more stuff</td>
        <td>And some more</td>
      </tr>
      <tr>
        <td colspan="4">
          <div id="accordion2" class="collapse">Hidden by default</div>
        </td>
      </tr>
    </tbody>
  </table>

</div>