<%= render "layouts/partials/_nothing_here",
  title: "Its lonely here :(",
  description: "Create your first link :)" do
%>
<div data-controller="hello">
  <h1 data-target="hello.output"></h1>
  
</div>